@media only screen and (max-height: 160px){
    .dev-header-container {
        display:none !important;
    }

    .dev-logo-container {
        display:none !important;
    }
    
    .dev-logo {
        display:none !important;
    }

    .dev-title-container {
        display:none !important;
    }

    .dev-title-container span {
       display:none !important;
    }
}

@media screen and (max-width: 630px) {
    .dev-logo {
        display: none !important;
        margin: none !important;
        transition: 0.3s;
    }
    .dev-title-container {
        width: 24.4rem !important;
        right: 0 !important;
    }
    .dev-title-container span {
        position: absolute;
        font-size: 3rem !important;
        top: 6rem;
        transition: 0.3s;
    }
}

@media screen and (max-width: 940px) {
    .dev-header-container {
        display: flex !important;
        /* height: 10rem; */
        background-color: #7EAED7;
    }

    .dev-logo-container {
        /* display: flex !important; */
        height: inherit;
        margin-left: 7rem !important;
        margin-right: 0 !important;
        transition: 0.3s;
    }

    .dev-title-container {
        position: absolute;
        margin-left: 0 !important;
        width: 22.4rem !important;
        font-size: 3rem !important;
        right: 2rem;
    }
    
    .dev-title-container span {
        top: 2.75rem !important;
    }
    .dev-logo {
        transition: 0.3s;
    }
}

.dev-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10rem;
    background-color: #7EAED7;
}

.dev-logo-container {
    display: flex;
    /* justify-content: center; */
    margin-left: 7rem;
    height: inherit;
}

.dev-logo {
    margin-top: -1rem;
    width: 7rem;
    height: auto;
}

.dev-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41rem;
    height: inherit;
    margin-left: 4rem;
    transition: 0.3s;
}

.dev-title-container span {
    position: absolute;
    top: 6rem;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-size: 3rem;
    transition: 0.3s;
}