.dev-footer-container {
    position: absolute;
    display: flex;
    width: auto;
    height: 10rem;
    bottom: 0;
    left: 42vw;
}

.dev-social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}

.dev-social-media {
    width: 4rem;
    height: auto;
}